.cache
.groovy
.java
init.groovy.d
dsl
logs
users
nodes
plugins
secrets
userContent
workflow-libs
war
jobs
workspace

*.xml
*.log
.lastStarted
identity.key.enc
plugins.txt
secret.key
secret.key.not-so-secret
jenkins.install.InstallUtil.lastExecVersion
jenkins.install.UpgradeWizard.state

!scriptApproval.xml
